

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 2rem;
  color: white;
  background-color: var(--slate);
}

hr {
  border: 0;
  border-bottom: 1px solid color(white a(.25));
}

.bold { font-weight: bold }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.input,
.btn {
  box-sizing: border-box;
  height: 2em;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  margin: 0;
  padding: .5em .5em;
  vertical-align: middle;
  color: inherit;
  border: 1px solid;
  border-radius: 3px;
  -webkit-appearance: none;
}

.input-light {
  background-color: color(#fff a(.25));
  border-color: color(#000 a(.25));
}

.btn-dark {
  background-color: color(#000 a(.25));
  border-color: color(#000 a(.5));
}

@import 'gravitons';

:root {
  --slate: #134;
}

